* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #ffffff;
  --text-color: #000;
  --second-color: #a09dab;
  --main-color: #00004d;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
  background: #f9fffa;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  background: white;
  padding: 1vw;
  transition: 0.3s;
  border-bottom: solid;
}
.navlist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.navlist li {
  position: relative;
  margin: 7px;
}
.navlist a {
  font-size: var(--p-font);
  color: var(--text-color);
  font-weight: 500;
  padding: 10px;
  font-size: 1vw;
}
.navlist a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--main-color);
  bottom: 0px;
  left: 0;
  transition: ease 0.4s;
}
.navlist a:hover::after {
  width: 100%;
}
#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.home-square {
  width: 1px;
  height: 20vh; 
  border: none;
}
.home {
  display: flex;
  min-width: 100vh;
  height: 100%;
  width: 100%;
  background: #f9fffa;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 10vw;
}
.home-text h1 {
  margin: 10px -4px 20px;
  font-size: 80px;
  line-height: 1;
  font-weight: 500;
  flex-wrap: wrap;
  padding-bottom: 10px;
  font-size: 4vw;
}
.home-text h5 {
  margin-bottom: 23px;
  font-size: 20px;
  font-weight: 500;
  color: #899499;
  font-size: 1.1vw;
}
.social i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5vw;
  transition: 0.4s;
  size: 10vw;
  font-size: 3vw;
  transform-origin: center;
}
.social i:hover {
  transition: 0.4s;
  opacity: 0.7;
  cursor: pointer;
}
#linkedin{
  color: #0077b5;
}
.home-img img {
  max-width: 200%;
  width: 30vw;
  height: auto;
  border-radius: 100px;
}
.about-square {
  width: 1px;
  height: 22.2vh; 
  border: none;
}
.aboutme {
  min-width: 100vh;
  height: 100%;
  width: 100%;
  background: #f9fffa;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10vh;
}
.about-img img {
  max-width: 100%;
  width: 20vw;
  height: auto;
  border-radius: 50px;
  margin-right: 5%;
}
.aboutme-text {
  align-items: center;
  justify-content: center;
  margin-left: 6%;
}
.aboutme-text h5 {
  font-size: 3.2vw;
  font-weight: 500;
}
.aboutme-text p {
  max-width: 55vw;
  font-size: 1.1vw;
  line-height: 4vh;
  margin-top: 20px;
}
.about-top-section{
  display: inline-flex;
}
.techStack {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 19vw;
}
.techStack img {
  margin-left: 20px;
  transition: ease 0.2s;
}
.techStack img:hover {
  margin-top: -25px;
  cursor: pointer;
  transition: ease 0.2s;
}
.heading {
  text-align: center;
}
.heading h2 {
  font-size: var(--h2-font);
  font-weight: 500;
  margin: 7px 0px 20px;
  line-height: 1.1;
}
.heading h3 {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
}
.heading p {
  max-width: 1000px;
  font-size: var(--p-font);
  line-height: 28px;
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 5rem;
  text-align: center;
  cursor: pointer;
}
.col {
  position: relative;
}
.col img {
  max-width: 100%;
  width: 550px;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  border: solid;
  border-width: 1px;
}
.layer:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, #191919);
}
.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  transition: all 0.3s;
}
.layer h3 {
  position: absolute;
  width: 100%;
  font-size: 25px;
  font-weight: 500;
  color: var(--bg-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.3s;
}
.layer:hover h3 {
  bottom: 52%;
  opacity: 1;
}

.layer h5 {
  position: absolute;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.3s;
}
.layer:hover h5 {
  bottom: 45%;
  opacity: 1;
}
.contact {
  background: f9fffa;
  width: 80%;
  margin: 100px auto;
  padding: 70px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  border: 3px solid black;
}
.centre h3 {
  color: black;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 3px;
}
.centre p {
  font-size: var(--p-font);
  color: black;
  line-height: 26px;
  margin-bottom: 25px;
}

.contact .action form input[type="email"] {
  max-width: 100%;
  width: 470px;
  padding: 12px 15px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: 3px solid black;
  margin: 0 10px 20px 0;
  border-radius: 30px;
  margin-top: 30px;
}
.contact .action form input[type="submit"] {
  padding: 12px 40px;
  background: var(--main-color);
  color: var(--bg-color);
  border: none;
  outline: none;
  margin: 0 10px 20px 0;
  border-radius: 30px;
  cursor: pointer;
}
.endingNote {
  text-align: center;
  padding: 40px;
}
.endingNote p {
  font-size: var(--p-font);
  letter-spacing: 1px;
}
.projects-square {
  width: 1px;
  height: 15vh; 
  border: none;
}
.projects {
  align-items: center;
  justify-content: center;
  margin-right: 8vw;
  margin-left: 8vw;
  font-size: .8vw;
}
.headingPort {
  display: flex;
  align-items: flex-start;
  font-size: 35px;
  font-weight: 350;
  margin-left: 100;
  margin-bottom: 25px;
  font-size: 2vw;
}
.projects-sidebar {
  display: flex;
  background-color: #f8f8f8;
  overflow: auto;
}
.project-link {
  padding: 25px;
  border-bottom: 3px solid #000;
  cursor: pointer;
  background-color: #f9f9f9;
}
.project-link.active {
  background-color: #f0f0f0;
  border-top: 5px solid lightgreen;
}
.project-link:hover {
  background-color: lightgreen;
}
.projects-container {
  display: flex;
  flex-direction: row;
}
.project-link {
  padding: 10px;
  border-bottom: 1px solid #000;
  cursor: pointer;
  background-color: #f9f9f9;
}
.project-description {
  flex-grow: 1; 
  display: none;
  padding: 30px;
}
.project-description .project-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; 
}
.project-description h2 {
  margin-bottom: px;
  font-size: 30px;
  margin-top: 25px;
}
.project-description p {
  font-size: 23px;
  font-weight: 50;
}
.all-descriptions img {
  width: 350px;
  border-radius: 20px;
  height: auto;
}
.project-tech-stack {
  display: flex;
  gap: 15px;
  margin-top: 50px;
}

.tech {
  background-color: lightcyan;
  padding: 10px 20px;
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  font-weight: bold;
}